.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile_img {
  height: 100%;
  border-radius: 50%;
}

.information {
  padding-left: 2em;
}

.top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top > :nth-child(n) {
  margin-right: 2em;
}

.my {
  margin: 0;
  font-size: 1.4em;
}

.midle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.midle > :nth-child(n) {
  margin-right: 2em;
}

.bottom > :nth-child(n) {
  margin: 0;
  font-size: 0.8em;
}
